.new-form {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px 20px;
    background-color: rgba(0, 23, 42, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .vehicle-form {
    text-align: center;
  }
  
  .vehicle-form h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffff;
  }
  
  .vehicle-form label {
    display: block;
    margin-bottom: 10px;
    color: #ffff;
  }
  
  .vehicle-form input[type="text"],
  .vehicle-form input[type="number"],
  .vehicle-form select,
  .vehicle-form input[type="date"] {
    width: 100%;
    padding: 10px;
    background: #EBECFE;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  
  .vehicle-form select {
    appearance: none;
  }
  
  .vehicle-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .vehicle-form button:hover {
    background-color: #0056b3;
  }